.bodyall {
  background-color: #ffccff;
}

h1 {
  text-align: center;
  text-decoration: dotted;
  color: purple;

}

h2 {
  text-align: center;
  text-decoration: dotted;
  color: red;
}

#refreshy {
  background: black;
  color: purple;
  align: center;
}
