{% extends "layout.html" %}
{% block fairytale %}

<p>Once upon a time in the land far far away of {{town_name}} there was an elf​ called ​{{final_name}} who​ lived with a {{colour}} coloured {{pet_breed}} {{pet_type}} named {{pet_name}}​.</p>
<p>One morning ​{{final_name}}​ woke up and saw that outside it showed signs of {{weather}}. ​{{final_name}} was very bored so decided to {{final_act}}. ​{{final_name}} and {{pet_name}} did this all day long before the sun went down and ​{{final_name}} finally decided to settle down and order a Chinese takeaway washed down with a {{cocktail}} cocktail. For dessert {{final_name}} noticed they had been given a fortune cookie so they opened the cookie to find a message inside that said ' {{advice_slip}}'.</p>
<p> The next day ​{{final_name}} woke up inspired instead of bored and lived happily ever after.</p>


{% endblock %}

