<!DOCTYPE html>
 <html>
 <head>
   <link rel="stylesheet" href="{{ url_for("static", ﬁlename="css/main.css") }}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>{{title}}</title>
</head>

<body class="bodyall">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
  <h1 style=color: purple;>{{title}}</h1>


{% block fairytale %}
{% endblock %}


<button type="button" value="Refresh Page" onClick="window.location.reload()" class="refreshy" style=background-color:purple; >Refresh for your fairytale!</button>
<!--  <span class="icon-refresh">-->

</div><!--closing md12-->
</div><!--closing row-->
</div><!--closing container-->

</body>
</html>
